footer {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1600px;
    width: 100%;
    box-shadow: 0px -5px 20px 5px rgba(51, 51, 51, 0.05);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    
}
.footer_row_one {
    display: flex;
    padding-top: 65px;
    box-sizing: border-box;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-between;

    border-bottom: 1px solid rgba(174, 174, 174, 1);
    padding-bottom: 25px;
}
.footer_row_one_block {
    display: flex;
    gap: 20px;
    height: 52px;
    align-items: center;
    
    
}
.footer_row_one_block_tel {
    font-weight: 500;
    font-size: 24px;

}
.footer_row_one_block_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 197px;
    height: 52px;
    background-color: white;
    border: solid 1px rgba(92, 186, 234, 1);
    border-radius: 100px;


}

.footer_row_two {
    padding-top: 40px;
    margin: 0 auto;
    max-width: 1360px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.footer_row_two_link {
    display: flex;
    gap: 25px;
}
.footer_row_two_block {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer_row_two_block a {
    font-weight: 500;
    font-size: 24px;
}

.footer_row_two_social img {
    width: 65px;
    height: 70px;
}

.conf_polit {
    color: rgba(191, 200, 210, 1);
    font-size: 14px;
    margin-top: 115px;
    display: block;
}

.footer_row_two_social p {
    margin-top: 10px;
    font-size: 14px;
    color: rgba(191, 200, 210, 1);
}

.footer_row_three {
    border-top: 1px solid rgba(191, 200, 210, 1);
    padding-top: 20px;

    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    color: rgba(174, 174, 174, 1);
    margin-top: 40px;


}

.footer_conf {
    display: none;
}

/*adaptive*/

@media (max-width:1365px) {
    footer {
        padding: 20px;
    }
}

@media (max-width:1140px ) {
    .footer_row_one {
        flex-direction: column;
        align-items: center;
    }
    .header_icons_block div {
        flex-direction: row-reverse;
        gap: 5px;
    }
    .header_icons_block a {
        flex-direction: column-reverse;
    }
    .footer_row_one {
        padding-top: 30px;
        padding-bottom: 90px;
    }
    .header_icons_block div img {
        width: 20px;
        height: 20px;
    }
    .header_icons_block div img {
        width: 20px;
        height: 20px;
    }
    .footer_logo {
        width: 45px;
        height: 50px;
    }
    .footer_row_one_block {
        flex-direction: column-reverse;
        margin-top: 20px;
        gap: 10px;
        height: auto;
    }
    .header_icons {
        justify-content: center;
    }

    .footer_row_one_block_form, .header_link_form {
        width: 335px;
        height: 45px;
    }


    .footer_row_two {
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer_row_two_social div {
        position: relative;
        top: -125px;
    }
    .conf_polit {
        margin: 0;
    }
    .footer_row_two_social {
        height: 1px;
    }

    .footer_row_two_link a {
        color: rgba(174, 174, 174, 1);
    }

    .conf_polit {
        display: none;

    }

    .footer_row_two_social p {
        display: none;
    }

    .footer_conf {
        display: block;
        margin-top: 10px;
    }
    .conf_polit2 {
        color: rgba(92, 186, 234, 1);
        border-bottom: 1px solid rgba(92, 186, 234, 1);

    }
    .conf_polit_p {
        color: rgba(92, 186, 234, 1);
    }

}




