.service_block {
    
}

.service_block_content {
    display: flex;
}

.service_block h3 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 48px;
}
.service_price {
    font-weight: 500;
    margin-top: 40px;
    font-size: 30px;
}
.left_menu h4 {
    margin-top: 40px;
    font-weight: 500;
    font-size: 20px;
}
.left_menu p {
    max-width: 920px;
    width: 100%;
    margin-top: 20px;

}

.right_menu {
    width: 400px;
    height: 146px;
    background-color: rgba(237, 243, 248, 0.5);
    border-radius: 20px;

    display: flex;
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: 20px;
    gap: 20px;
    

    flex-direction: column;
    transition: 0.15s;
}
.right_menu a:hover {
    color: rgba(92, 186, 234, 1);
    transition: 0.15s;
}

.left_menu_btns_row {
    margin-top: 40px;
    display: flex;
    gap: 20px;

}

.left_menu_btns_row button {
    width: 284px;
    height: 52px;
    border: solid 1px rgba(92, 186, 234, 1);
    border-radius: 100px;
    cursor: pointer;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
}

.left_menu_btns_row button:first-child {
    background-color: rgba(92, 186, 234, 1);
    color: white;
}
.slider_service {
    margin-top: 100px;
}


@media (max-width:670px) {
    .service_block h3 {
        font-size: 28px;
        padding-left: 15px;
    }
    .service_price {
        margin-top: 30px;
        font-size: 22px;
    }
    .left_menu h4 {
        font-size: 16px;
        margin-top: 20px;
    }
    .left_menu p {
        font-size: 14px;
        
    }
    .left_menu {
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
    .left_menu_btns_row {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        gap: 5px;
    }
    .left_menu_btns_row button {
        width: 100%;
    }
    .tittle_row_btns_href_service {
        display: none !important;
    }
    .tittle_row h3 {
        margin-top: 40px;
        font-size: 28px;
        padding-left: 15px;
    }
    
}






@media (max-width:950px) {
    .right_menu {
        display: none;
    }
    .left_menu {
        padding-left: 15px;
        padding-right: 15px;
    }
    .service_block h3 {
        padding-left: 15px;
    }
}