.container {
    max-width: 1370px !important;
}

.docs_container {
    max-width: 1370px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;

}

.docs_container_block {
    width: 325px;
    height: 479px;

    box-shadow: -3px -3px 10px 0px rgba(0, 0, 0, 0.08);
    border-radius: 15px;

}

.docs_container h4 {
    margin-left: 15px;
}

@media screen and (max-width: 850px) {
    .docs_container {
        justify-content: center;
    }
    .list_find_block_list {
        max-width: none;
    }
    .list_find_block_list select {
        max-width: none;
    }
    .list_find_block {
        flex-direction: column;
    }
    .list_find_block_search {
        max-width: none;
        width: 95%;
    }
    .list_find_block_search input {
        max-width: none;
    }
    .swiper-slide_block img {
        width: 373px;
        height: 342px;
    }
    .docs_container_block {
        max-width: 400px;
        height: 550px;
        width: 100%;
    }

    .doctor_card {
        flex-direction: column;
        height: auto;
    }
    
}